body 
{
	margin-top: 0px; padding-top: 0px;
	margin-left:0px;
}
#container
{
	
}
#navigation
{
	font-family:微软雅黑,Verdana, Geneva, sans-serif;
		font-size:16px;
	width:1136px;
	height:72px;
	margin:0;
	padding:0;
	background:url(/images/cuboid.png);  
	font-weight:bold;
	}
#navigation ul
{
list-style-type:none;
padding:0px;
height:42px;
margin-left:420px;
position:relative;
bottom:-29px;
	left: -3px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align:center;
}
#navigation ul li
{
	float:left;
	height:42px;
	width:100px;
}

#navigation li a
{
		display:block;
		text-decoration:none;
		color:#ffffff;
		padding-top:10px;
		vertical-align:middle;
		text-align:center;
		height:32px;
}
#navigation li a:hover
{
			background-image: url(/images/cuboid_vister.png);    
}